<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Results from User Test</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.email %> (<%= r.password%>)</li>
    <% }); %>
</ul>

</div>

</body>
</html>
