<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Ooops! You should not have done that.</h1>
    <img src="http://placehold.it/250x250" style="float: left; margin: 10px"><p>Your friendly IT department sent out a suspicious email to test how susceptible we are to phishing scams. It had a link, and when you clicked the link you saw a login page and entered your credentials.</p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a> -->
  </div>
</div>
<div class="container">
  <div>
    <h2>We aren't trying to be mean :(</h2>
	<p>Leland IT asks that you keep this message to yourself, so that your co-workers have an equal chance of being tricked. This will give us a more realistic perception of ou If you have any questions, please contact Leland IT.</p>
  </div>
  <div class="alert alert-info text-center" role="alert">
    <p>We are recording the information that people enter into that fake login page, but we will not use any of it for devious purposes. The same cannot be said for real scams, though!</p>
  </div>
  <div>
	<h3><span class="glyphicon glyphicon-info-sign"></span> Links about Phishing</h3>
	<p>Below, we are providing helpful links explainging what phishing is, why it is dangerous, and what to look for to prevent it.</p>
      <ul>
        <li>List stuff here</li>
		<li>List stuff here</li>
		<li>List stuff here</li>
	  </ul>
  </div>
</div>

</body>
</html>