
<!DOCTYPE html>
<html>
  <head>
    <title>Leland Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="dtQS0CSPo7HQmQqKb00YfZ51Wpd+RK/7qvO4WchYekZTFn7I6o3aB7G44FCR4doiEQx+BIYP7I+1HtNLY1aKXg==" />
    <link rel="stylesheet" media="screen" href="/assets/museo.self-671269a2b48227b1ab1aaca5bb3e972445b97deaf0f29b2b37d489fe932b51ae.css?body=1" />
<link rel="stylesheet" media="screen" href="/assets/font-awesome.self-be09f9a5a5e8fd15a4e4d68dc8509252a33dc056003e53159586cf99368ba0e7.css?body=1" />
<link rel="stylesheet" media="screen" href="/assets/site.self-e2590747076c87a820b327314ee0b4815f8b30668e5df97afb8729f5763c611b.css?body=1" />
<link rel="stylesheet" media="screen" href="/assets/slick.self-3e611f720b763cc018016abb8bb4037bff655c1ca995b84200bcb5efecfe24f9.css?body=1" />
<link rel="stylesheet" media="screen" href="/assets/slick-theme.self-3eec791b2d3218e121778b46bbbb0c9de6449d7582bc8a3e15f896c26d0d422f.css?body=1" />
<link rel="stylesheet" media="screen" href="/assets/responsive.self-c5410092969b461a4ee3bdd02ee627821443417d29a6a3e48d92d6faa3260700.css?body=1" />
<link rel="stylesheet" media="screen" href="/assets/application.self-373a8c46449c8945d5f568717121199071937453b95a71fc07004e7d01dc1f4e.css?body=1" />
    <script src="/assets/jquery.self-d03a5518f45df77341bdbe6201ba3bfa547ebba8ed64f0ea56bfa5f96ea7c074.js?body=1"></script>
<script src="/assets/jquery_ujs.self-ca5248a2fad13d6bd58ea121318d642f195f0b2dd818b30615f785ff365e8d1f.js?body=1"></script>
<script src="/assets/application_form.self-71bebdd279262bea2a34f86f814bf234bcea19d2e2f9154d08849b19d98f41d9.js?body=1"></script>
<script src="/assets/ckeditor/init.self-2f3e80b764bc18c9362e6f3326e1f32d4a8bdceff67345a3453a93b111626ff3.js?body=1"></script>
<script src="/assets/ckeditor/ckeditor.self-d1ad3c7f24d395fa8e9f19285ee95fc8c21f86a3017680b2eb7e3dd8b07b9d07.js?body=1"></script>
<script src="/assets/casein/custom.self-95c2f0b1b3250469e222b50253688ddb96292320a5a95cb36fb52da2f3f7df50.js?body=1"></script>
<script src="/assets/ckeditor/config.self-d1f155f519d1dbc66fc0add8c12136a71dc9614676e2bfc5c941f8fccc2cbbee.js?body=1"></script>
<script src="/assets/contact_form.self-9e5767ca5e39d36558bd3cf99b338619d4132b95179452af7009b66cd786db1b.js?body=1"></script>
<script src="/assets/contents.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1"></script>
<script src="/assets/proposal_form.self-73caed6707f2ca275cad966f64659c723003b948bd94b58d98c30bb4ecd99e93.js?body=1"></script>
<script src="/assets/site.self-0ae49bb6ee559c04d1c1508869c0c161e3e20ec1c9337c186adb1d8598257fb7.js?body=1"></script>
<script src="/assets/slick.self-e6e08346b02ee59dacf02bcf91f549879fcb4f516cb05f3dec98a125621dec27.js?body=1"></script>
<script src="/assets/application.self-2b00c68320848afe54cf9919a7a76ed257f93bdb6e12dc2160d07a8b1fe5e9f4.js?body=1"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="http://www.dreamtemplate.com/dreamcodes/divider/css/tsc_divider.css" />
  </head>
  <body>
    <header class="primary-color">
    <div id="mobile-title">
        <div class="col-xs-2">
            <button class="navbar-toggle pull-left" data-target="#main-nav-bar" data-toggle="collapse" type="button">
                <i class="fa fa-reorder" style="color: #ffffff; font-size: 1.2em;"></i>
            </button>
        </div>
        <div class="col-xs-8">
            <h1 style="margin-bottom: 0; padding-top: 16px; text-align:center; color: #fff; font-size: 1.8em;">LELAND MANAGEMENT</h1>
        </div>
        <div class="col-xs-2">
            <button class="navbar-toggle pull-right" data-target="#main-nav-bar" data-toggle="collapse" type="button">
                <i class="fa fa-search" style="color: #ffffff; font-size: 1.2em;"></i>
            </button>
        </div>
    </div>
    <div id="pre-nav" style="padding-left: 5%; padding-right: 5%;">
        <div class="col-md-7" id="site-title" style="padding-left:12%; padding-right:0;">
            <h1>LELAND MANAGEMENT</h1>
        </div>
        <div id="pre-links" class="col-md-5" style="padding-left:0;">
            <ul class="nav navbar-nav pre-nav pull-right">
                <li><a class="top-link" href="http://www.communitydocsnow.com" target="_blank">Estoppel Request</a></li>
                <li><a class="top-link" href="#" data-toggle="modal" data-target="#proposal-modal">Request Proposal</a></li>
                <li><a class="top-link" href="/contents/make-a-payment">Make a Payment</a></li>
                <li style="display:none;">
                    <a style="color: #ffffff; margin-left:1em" href="javascript:void(0);" onclick="olark('api.box.expand')">
                    <i class="fa fa-comment"></i> Chat Now
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="secondary-color decorative-stripe"></div>
    <div class="decorative-stripe"></div>
    <div class="secondary-color collapse navbar-collapse" id="main-nav-bar">
        <nav class="navbar" id="primary-nav">
            <div class="col-md-3" id="leland-logo">
                <a href="/contents/home"><img src="/assets/leland-logo-990054efbc633904c0f77a30601def3c2f7200d21b4cc92e9e5bd7be843d4e61.png" alt="Leland logo 990054efbc633904c0f77a30601def3c2f7200d21b4cc92e9e5bd7be843d4e61" /><span>Community Association Management</span></a>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav pull-left" id="main-nav">
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Residents</a>
                        <ul class="dropdown-menu">
                            <li><a href="/contents/resident-portal">Resident Portal</a></li>
                            <li><a href="/contents/make-a-payment">Make a Payment</a></li>
                            <li><a href="/contents/gates">Gates</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                        <ul class="dropdown-menu">
                            <li><a href="/contents/about-us">About Us</a></li>
                            <li><a href="/contents/history">History</a></li>
                            <li><a href="/contents/leland-difference">Leland Difference</a></li>
                            <li><a href="/contents/team">Team</a></li>
                            <li><a href="/contents/philosophy">Philosophy</a></li>
                            <li><a href="/contents/accolades">Accolades</a></li>
                            <li><a href="/testimonials">Testimonials</a></li>
                            <li><a href="/contents/charitable-giving">Charitable Giving</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Education</a>
                        <ul class="dropdown-menu">
                            <li><a href="/contents/education">Education</a></li>
                            <li><a href="/contents/instructor-bios">Instructor Bios</a></li>
                            <li><a href="/contents/courses">Courses</a></li>
                            <li><a href="/contents/resources">Resources</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                        <ul class="dropdown-menu">
                            <li><a href="/contents/services">Our Services</a></li>
                            <li><a href="/contents/what-we-do">What We Do</a></li>
                            <li><a href="/contents/who-we-serve">Who We Serve</a></li>
                            <li><a href="/contents/financial-demos">Financial Demos</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
                        <ul class="dropdown-menu">
                            <li><a href="/locations">Locations</a></li>
                            <li><a href="/contents/request-a-proposal">Request a Proposal</a></li>
                            <li><a href="/contents/faqs">FAQs</a></li>
                            <li><a href="/contents/contact-us">Contact Us</a></li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <form id="search-form" class="form-inline" action="/contents/search">
                            <div class="form-group">
                                <label for="site-search" class="sr-only">Search</label>
                                <input type="text" name="search" id="search" class="form-control" placeholder="Search site" style="border:1px solid #000; height: 30px;">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="primary-color decorative-stripe" id="last-stripe"></div>
</header>
    <main id="main-content" class="container-fluid matte-color">
        
<div id="slides2">
        <div style="background:url(/system/images/images/000/000/009/original/homescroll7.jpg?1442421466
) center center / cover; height: 400px;">
         <!--div class="content-box content-box-home"><p>Experienced Management Team with over 95 Licensed Community Association Managers</p></div>-->
    </div> 
<div style="background:url(/system/images/images/000/000/003/original/homescroll2.JPG?1442412484
) center center / cover; height: 400px;">
           </div>
 <div style="background:url(/system/images/images/000/000/020/original/Home_Scroll_9.jpg?1442946573
) center center / cover; height: 400px;">
    </div>
 <div style="background:url(/system/images/images/000/000/008/original/homescroll6.jpg?1442420963
) center center / cover; height: 400px;">
       </div>
    </div>
</div>

<!-- this is the comment start

                  <div style="position:relative;" class="content-wrapper">
                <div style="background: rgba(31, 93, 44, 0.8); left: -20%; top: -160px; width: 950px; text-align: center; color: white; line-height: 1em; padding-left: 250px; font-size: 3.5em; position: absolute; text-shadow: 2px 2px #000000;">
                    Leland Management<br>
                    <span style="font-size: 0.46em;">"The Management Company You Don't Have to Manage"</span>
                </div>
            </div>

this is the comment end-->

<div class="row content-wrapper content">
    <div class="col-md-9">
        <h1>Over 15 Years of Community Association Management Excellence</h1>
        <p>Since 1997, Leland Management has been honored to serve condominium and homeowner's associations throughout Florida.  Through our philosophy of honesty, integrity, respect and customer service we have built lasting relationships with the communities and boards we serve.  As a family owned company, we are able to uniquely tailor our services for each property  utilizing our expertise in:</p>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Association Management</li>
                    <li>Association Governance</li>
                    <li>Association Record Maintenance</li>
                    <li>Accounting</li>
                    <li>Assessments and Billing</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Collections</li>
                    <li>Vendor Management</li>
                    <li>Community Website</li>
                    <li>Tax and Association Reporting</li>
                    <li>Technology and Communications</li>
                </ul>
            </div>
        </div>
        <p>We are proud to offer the highest levels of service to many different types of communities; offering a customized approach to association management. Leland Management has  15 divisional locations throughout Florida enabling us to bring a local presence to the management of your community.</p>
        <div class="row boxes">
            <div class="col-md-3">
                <a href="/contents/services">
                <i class="fa fa-wrench fa-lg"></i>
                <h2>Services</h2>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/contents/education">
                <i class="fa fa-university fa-lg"></i>
                <h2>Education</h2>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/careers">
                <i class="fa fa-users fa-lg"></i>
                <h2>Careers</h2>
                
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-box"><h2>Looking for a Management Company?</h2><p style="width:auto;">Let Leland help you tailor your association management needs to best fit your community.</p><button class="btn btn-green btn-big"  data-toggle="modal" data-target="#proposal-modal">Click Here</button></div>
<div class="content-box">
    <h2>Find your local Leland office</h2>
    <p style="width:auto;">Search by Zip Code to Find the Leland Branch closest to you.</p>
    <form action="/locations/search">
        <div class="form-group" style="margin:0;">
            <label for="location_zip_code" class="sr-only">Zip:</label>
            <input type="text" class="form-control" style="max-width: 100px; margin:auto; border: 1px solid #000;" id="location_zip_code" name="zip">
        </div>
    </form>
</div>
    </div>
</div>
<script>
$(document).ready(function() {
$('#slides2').slick({dots: true,slidesToShow: 1,slidesToScroll: 1, arrows: false, autoplay: true, autoplaySpeed: 5000});
});
</script>

        <div class="container-fluid yellow-content content">
    <div class="content-wrapper">
        <div class="col-md-6" style="border-right: 1px solid #111111;">
            <div style="padding-left: 10%; padding-right:10%;">
                <h2>Leland Blog</h2>
                <div class="row" style="padding-bottom:0;">
                    <div class="col-md-4"><img src="https://lelandmanagement.files.wordpress.com/2015/10/trickortreat_900_400_90_s_c1.jpg?w=340&amp;h=151" style="width:100%;"></div>
                    <div class="col-md-8">
                        <h3 style="margin-top:0; font-size: 1.2em;">Trick or Treat: Safety Tips for Parents</h3>
                        <p style="width:auto;">Halloween doesn&#8217;t have to be spooky. Here are some safety tips that will make sure that children and families have a safe and fun Halloween this year. Do not choose costumes with long, billowing or trailing fabric. If your child is &#8230; <a href="https://lelandmanagement.wordpress.com/2015/10/20/trick-or-treat-safety-tips-for-parents/">Continue reading <span class="meta-nav">&#8594;</span></a><img alt="" border="0" src="https://pixel.wp.com/b.gif?host=lelandmanagement.wordpress.com&#038;blog=35760123&#038;post=1117&#038;subd=lelandmanagement&#038;ref=&#038;feed=1" width="1" height="1" /></p>
                    </div>
                </div>
                <h2>Success Stories</h2>
                <h3 style="font-size: 1.1em;">Going Above and Beyond</h3>
                <p><em>"I wanted to take this opportunity to let Leland Management know what a great asset they have been for me. Leland goes above and beyond in trying to accommodate the needs and requests of the residents here in the community and always does so with a smile and friendly attitude. Your hard work and dedication are very much appreciated."</em></p>
                <div style="text-align:right;">- </div>
            </div>
        </div>
        <div class="col-md-6">
            <div style="padding-left: 10%; padding-right:10%;">
                <h2>Leland in the News</h2>
                <ul>
                    <li><a href="/contents/leland-insider">Leland Insider</a></li>
                    <li><a href="/contents/press-releases">News Releases</a></li>
                </ul>
                <h2>Experience the Leland Lifestyle</h2>
                <div id="lifestyle_slides">
                    <div><a href="http://www.lelandlifestyles.com/" target="_blank"><img src="/assets/active-adult.jpg" title="active adult" style="width: 100%;" /></a></div>
                    <div><a href="http://www.lelandlifestyles.com/" target="_blank"><img src="/assets/puppyboy.jpg" title="boy with puppy" style="width: 100%;" /></a></div>
                    <div><a href="http://www.lelandlifestyles.com/" target="_blank"><img src="/assets/pool.jpg" title="pool" style="width: 100%;" /></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
    <footer class="primary-color">
    Leland Management 路 6972 Lake Gloria Blvd. 路 Orlando, Florida 32809-3200 路 Phone 407-447-9955 路 Fax 407-447-9899
    <div id="social">
        <ul>
            <li><a href="https://www.facebook.com/leland.management" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/#%21/Leland_Mgt" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="http://www.linkedin.com/company/1238549?trk=tyah" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="http://www.youtube.com/channel/UCfSW9UwcIBN4f81kSZveq0A" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
            <li><a href="http://lelandmanagement.wordpress.com/" target="_blank"><i class="fa fa-wordpress"></i></a></li>
        </ul>
    </div>
    <div class="fine-print">&copy; Leland Management 2015</div>
</footer>
    <div class="modal fade" id="proposal-modal" tabindex="-1" role="dialog" aria-labelledby="proposal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="new_proposal" id="new_proposal" action="/proposals" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="proposal-title" style="color:#1f5d2c;font-size: 1.4em;">Request a Management Proposal</h4>
        </div>
        <div class="modal-body">
          <p>Please submit this form to receive information about Leland Management.</p>
          <div class="form-group">
              <label class="control-label" for="name">Name*:</label>
              <input class="form-control" type="text" name="proposal[name]" id="proposal_name" />
          </div>
          <div class="form-group">
              <label class="control-label" for="phone">Phone*:</label>
              <input class="form-control" type="text" name="proposal[phone]" id="proposal_phone" />
          </div>
          <div class="form-group">
              <label class="control-label" for="email">Email*:</label>
              <input class="form-control" type="text" name="proposal[email]" id="proposal_email" />
          </div>
          <div class="form-group">
              <label class="control-label" for="association">Name of Association:</label>
              <input class="form-control" type="text" name="proposal[association]" id="proposal_association" />
          </div>
          <div class="form-group">
              <label class="control-label" for="county">County:</label>
              <input class="form-control" type="text" name="proposal[county]" id="proposal_county" />
          </div>
          <div class="form-group">
              <label class="control-label" for="city">City:</label>
              <input class="form-control" type="text" name="proposal[city]" id="proposal_city" />
          </div>
          <div class="form-group">
              <label class="control-label" for="units">Number of Units:</label>
              <input class="form-control" type="text" name="proposal[units]" id="proposal_units" />
          </div>
          <div class="form-group">
              <label class="control-label" for="community_type">Type of Community:</label>
              <select class="form-control" name="proposal[community_type]" id="proposal_community_type"><option value="HOA">HOA</option>
<option value="Condo">Condo</option>
<option value="Townhome">Townhome</option>
<option value="POA">POA</option>
<option value="Other">Other</option></select>
          </div>
          <div class="form-group">
              <label class="control-label" for="service_type">Service Requested:</label>
              <select class="form-control" name="proposal[service_type]" id="proposal_service_type"><option value="Full Service">Full Service</option>
<option value="Full Service with Onsite Manager">Full Service with Onsite Manager</option>
<option value="Financial Service Only">Financial Service Only</option></select>
          </div>
          <div class="form-group">
            <label class="control-label" for="comments">Comments:</label>
              <textarea class="form-control" name="proposal[comments]" id="proposal_comments">
</textarea>
          </div>
          <div class="form-group">
            <script src="//www.google.com/recaptcha/api.js" async defer></script>
<div class="g-recaptcha" data-sitekey="6Lf_1w4TAAAAAE87ZWB-RrQlMAidwcCkCyoXnI3P" ></div>
<noscript><div style="width: 302px; height: 352px;">  <div style="width: 302px; height: 352px; position: relative;">    <div style="width: 302px; height: 352px; position: absolute;">      <iframe src="//www.google.com/recaptcha/api/fallback?k=6Lf_1w4TAAAAAE87ZWB-RrQlMAidwcCkCyoXnI3P"                frameborder="0" scrolling="no"                style="width: 302px; height:352px; border-style: none;">        </iframe>      </div>      <div style="width: 250px; height: 80px; position: absolute; border-style: none;              bottom: 21px; left: 25px; margin: 0px; padding: 0px; right: 25px;">        <textarea id="g-recaptcha-response" name="g-recaptcha-response"                   class="g-recaptcha-response"                   style="width: 250px; height: 80px; border: 1px solid #c1c1c1;                   margin: 0px; padding: 0px; resize: none;" value="">         </textarea>      </div>    </div>  </div></noscript>
          </div>
          <small>* - Required field</small>
        </div>
        <div class="modal-footer">
          <input type="submit" name="commit" value="Get Proposal" class="btn btn-green" />
        </div>
</form>    </div>
  </div>
</div>
    <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="new_contact" id="new_contact" action="/contacts" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="contact-title" style="color:#1f5d2c;font-size: 1.4em;">Contact Leland Management</h4>
        </div>
        <div class="modal-body">
          <p>Please submit this form to contact us.</p>
          <div class="form-group">
              <label class="control-label" for="name">Name*:</label>
              <input class="form-control" type="text" name="contact[name]" id="contact_name" />
          </div>
          <div class="form-group">
              <label class="control-label" for="phone">Phone*:</label>
              <input class="form-control" type="text" name="contact[phone]" id="contact_phone" />
          </div>
          <div class="form-group">
              <label class="control-label" for="email">Email*:</label>
              <input class="form-control" type="text" name="contact[email]" id="contact_email" />
          </div>
          <div class="form-group">
              <label class="control-label" for="association_name">Association Name*:</label>
                <input class="form-control" type="text" name="contact[association_name]" id="contact_association_name" />
          </div>
          <div class="form-group">
              <label class="control-label" for="street">Street*:</label>
              <input class="form-control" type="text" name="contact[street]" id="contact_street" />
          </div>
          <div class="form-group">
              <label class="control-label" for="city">City*:</label>
              <input class="form-control" type="text" name="contact[city]" id="contact_city" />
          </div>
          <div class="form-group">
              <label class="control-label" for="request">Request:</label>
              <textarea class="form-control" name="contact[request]" id="contact_request">
</textarea>
          </div>
          <div class="form-group">
            <script src="//www.google.com/recaptcha/api.js" async defer></script>
<div class="g-recaptcha" data-sitekey="6Lf_1w4TAAAAAE87ZWB-RrQlMAidwcCkCyoXnI3P" ></div>
<noscript><div style="width: 302px; height: 352px;">  <div style="width: 302px; height: 352px; position: relative;">    <div style="width: 302px; height: 352px; position: absolute;">      <iframe src="//www.google.com/recaptcha/api/fallback?k=6Lf_1w4TAAAAAE87ZWB-RrQlMAidwcCkCyoXnI3P"                frameborder="0" scrolling="no"                style="width: 302px; height:352px; border-style: none;">        </iframe>      </div>      <div style="width: 250px; height: 80px; position: absolute; border-style: none;              bottom: 21px; left: 25px; margin: 0px; padding: 0px; right: 25px;">        <textarea id="g-recaptcha-response" name="g-recaptcha-response"                   class="g-recaptcha-response"                   style="width: 250px; height: 80px; border: 1px solid #c1c1c1;                   margin: 0px; padding: 0px; resize: none;" value="">         </textarea>      </div>    </div>  </div></noscript>
          </div>
          <small>* - Required field</small>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="contact_us_form" id="contact_us_form" value="1">
          <input type="submit" name="commit" value="Submit" class="btn btn-green" />
        </div>
</form>    </div>
  </div>
</div>
    <!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*//*window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
/*olark.identify('9907-616-10-7760');/*]]>*/</script><noscript><!--<a href="https://www.olark.com/site/9907-616-10-7760/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a>--></noscript>
<!-- end olark code -->
  </body>
</html>